name: Build dbt Docs

on:
  workflow_dispatch: {}

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dbt-bigquery
        run: pip install dbt-bigquery

      - name: Decode & write service account key
        run: |
          echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

      - name: Create .dbt folder + profiles.yml
        run: |
          mkdir -p ~/.dbt
          cat <<EOF > ~/.dbt/profiles.yml
          demo:
            target: prod
            outputs:
              prod:
                type: bigquery
                method: service-account
                project: grand-water-473707-r8
                dataset: staging
                keyfile: /home/runner/work/${{ github.repository }}/key.json
                threads: 4
                timeout_seconds: 300
                location: EU
          EOF

      - name: Install dbt dependencies
        run: dbt deps

      - name: Generate dbt docs
        run: dbt docs generate

      - name: Upload docs artifact
        uses: actions/upload-artifact@v3
        with:
          name: dbt-docs
          path: target/
