name: Run dbt Pipeline

on:
  workflow_dispatch:

jobs:
  run-dbt:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v3

      # Setup Python + dbt
      - uses: actions/setup-python@v4
        with: { python-version: "3.11" }

      - run: |
          pip install --upgrade pip
          pip install dbt-bigquery

      # Provide service account
      - run: echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

      # Confirm dbt_project.yml is correct
      - run: cat dbt_project.yml

      # ----- RUN STAGING -----
      - name: Run staging models
        run: |
          echo "Running staging models..."
          dbt run --select tag:staging

      # ----- RUN DWH -----
      - name: Run DWH models
        run: |
          echo "Running DWH models..."
          dbt run --select tag:dwh

      # ----- RUN DATAMART -----
      - name: Run datamart models
        run: |
          echo "Running datamart models..."
          dbt run --select tag:datamart
