name: Run dbt Pipeline

on:
  workflow_dispatch:

jobs:
  run-dbt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dbt-bigquery
        run: |
          pip install --upgrade pip
          pip install dbt-bigquery

      # Decode service account
      - run: echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

      # ---- FIX: PROFILES DIRECTORY ----
      - name: Configure dbt profiles.yml
        run: |
          mkdir -p ~/.dbt
          cp profiles.yml ~/.dbt/profiles.yml

      # ---- Run staging ----
      - name: Run staging models
        run: |
          echo "Running staging models..."
          dbt run --select tag:staging

      # ---- Run DWH ----
      - name: Run DWH models
        run: |
          echo "Running DWH models..."
          dbt run --select tag:dwh

      # ---- Run Datamart ----
      - name: Run datamart models
        run: |
          echo "Running datamart models..."
          dbt run --select tag:datamart
