name: DBT Debug

on:
  workflow_dispatch:

jobs:
  debug-dbt:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # 3. Install dbt-bigquery
      - name: Install dbt-bi
