name: great-expectations-validation

on:
  workflow_dispatch:

jobs:
  gx_validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install GX + BigQuery dependencies
        run: |
          pip install great_expectations
          pip install sqlalchemy-bigquery

      - name: Authenticate GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Run GX checkpoint
        run: great_expectations checkpoint run dim_parkbee_locations
