name: great-expectations-validation

on:
  workflow_dispatch:

jobs:
  gx_validation:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install great_expectations
          pip install sqlalchemy-bigquery

      - name: Load GCP Credentials
        run: echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

      - name: Export Credentials Path
        run: echo "GOOGLE_APPLICATION_CREDENTIALS=$PWD/key.json" >> $GITHUB_ENV

      - name: Run Great Expectations
        run: great_expectations checkpoint run dim_parkbee_locations
