name: GE Classic Validation

on:
  workflow_dispatch:

jobs:
  ge-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 0. Disable pip cache system-wide
      - name: Disable pip cache
        run: pip cache purge || true
        env:
          PIP_NO_CACHE_DIR: "1"

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      
      - name: Install GE-compatible dependencies
        run: |
          pip uninstall -y numpy pandas sqlalchemy great_expectations || true
      
          pip install "numpy==1.23.5"
          pip install "pandas==1.5.3"
          pip install "sqlalchemy==1.4.52"
      
          pip install "google-cloud-bigquery"
          pip install "sqlalchemy-bigquery==1.5.0"
          pip install "pybigquery"
      
          pip install "great_expectations==0.16.16"
      
          python - << 'EOF'
            import great_expectations as ge
            import numpy as np, pandas as pd, sqlalchemy
            print("GE:", ge.__version__)
            print("NumPy:", np.__version__)
            print("Pandas:", pd.__version__)
            print("SQLAlchemy:", sqlalchemy.__version__)
            EOF




      - name: Load GCP Key
        run: echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

      - name: Export GOOGLE_APPLICATION_CREDENTIALS
        run: echo "GOOGLE_APPLICATION_CREDENTIALS=$PWD/key.json" >> $GITHUB_ENV

      - name: Run checkpoint
        run: great_expectations checkpoint run dim_parkbee_locations
