name: great-expectations-validation

on:
  workflow_dispatch:

jobs:
  gx_validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Great Expectations (with CLI)
        run: |
          pip install "great_expectations<1.0"
          pip install sqlalchemy-bigquery

      # ----------------------------------------
      # AUTHENTICATION (same method as dbt)
      # ----------------------------------------
      - name: Load GCP Credentials
        run: |
          echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

      - name: Export GOOGLE_APPLICATION_CREDENTIALS
        run: |
          echo "GOOGLE_APPLICATION_CREDENTIALS=$PWD/key.json" >> $GITHUB_ENV

      # ----------------------------------------
      # RUN GREAT EXPECTATIONS
      # ----------------------------------------
      - name: Run GX checkpoint
        run: |
          great_expectations checkpoint run dim_parkbee_locations
