name: GE Classic Validation

on:
  workflow_dispatch:

jobs:
  ge-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install "great_expectations==0.18.12"
          pip install sqlalchemy-bigquery
          pip install google-cloud-bigquery

      - name: Load GCP SA key
        run: echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

      - name: Set GOOGLE_APPLICATION_CREDENTIALS
        run: echo "GOOGLE_APPLICATION_CREDENTIALS=$PWD/key.json" >> $GITHUB_ENV

      - name: Run GE checkpoint
        working-directory: .
        run: |
          great_expectations checkpoint run dim_parkbee_locations
