name: great-expectations-validation

on:
  workflow_dispatch:

jobs:
  gx_validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Great Expectations Classic + BigQuery driver
        run: |
          pip install --upgrade pip
          pip install "great_expectations==0.18.12"
          pip install sqlalchemy-bigquery

      - name: Load GCP Credentials
        run: |
          echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=$PWD/key.json" >> $GITHUB_ENV

      - name: Debug folder layout
        run: |
          echo "GE Configs:"
          find great_expectations -type f

      - name: Show FINAL great_expectations.yml used in CI
        run: |
          echo "=== GREAT EXPECTATIONS CONFIG ==="
          sed -n '1,200p' great_expectations/great_expectations.yml
          echo "================================="


      - name: Run GE Checkpoint
        run: |
          great_expectations checkpoint run dim_parkbee_locations
