name: Run All Staging SQL on BigQuery

on:
  workflow_dispatch:     # Manual trigger
  push:
    paths:
      - 'sql/staging/*.sql'   # Auto-trigger when staging SQL files change

jobs:
  run-staging-sql:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Decode GCP service account key
        run: |
          echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > $HOME/key.json

      - name: Authenticate using service account
        run: |
          gcloud auth activate-service-account --key-file=$HOME/key.json
          gcloud config set project grand-water-473707-r8

      - name: Run all staging SQL files
        run: |
          for sql_file in sql/staging/*.sql; do
            echo "Running $sql_file ..."
            bq query --use_legacy_sql=false < "$sql_file"
          done
