name: Run dbt model (manual trigger)

on:
  workflow_dispatch:
    inputs:
      model_name:
        description: "dbt model name to run"
        required: true
        type: string

jobs:
  run-dbt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dbt-bigquery
        run: |
          pip install --upgrade pip
          pip install dbt-bigquery

      - name: Decode GCP service account key
        run: |
          echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > key.json

      - name: Create dbt profiles.yml
        run: |
          mkdir -p ~/.dbt
          printf "%s\n" \
          "bigquery:" \
          "  target: prod" \
          "  outputs:" \
          "    prod:" \
          "      type: bigquery" \
          "      method: service-account" \
          "      project: grand-water-473707-r8" \
          "      dataset: staging" \
          "      keyfile: $PWD/key.json" \
          "      threads: 4" \
          "      location: EU" \
          > ~/.dbt/profiles.yml

      - name: Run dbt model
        run: |
          MODEL="${{ github.event.inputs.model_name }}"
          echo "Running dbt model: $MODEL"
          dbt run --select "$MODEL"

      - name: Done
        run: echo "dbt finished successfully"
