name: Run Staging Query on BigQuery

on:
  workflow_dispatch:
  push:
    paths:
      - 'sql/staging/*.sql'

jobs:
  run-staging-sql:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Decode GCP service account key
        run: |
          echo "${{ secrets.GCP_SA_KEY_B64 }}" | base64 --decode > $HOME/key.json

      - name: Authenticate using service account
        run: |
          gcloud auth activate-service-account --key-file=$HOME/key.json
          gcloud config set project grand-water-473707-r8

      - name: Execute staging SQL
        run: |
          bq query --use_legacy_sql=false < sql/staging/staging_parkbee_garages.sql
